* {
  margin: 0;
  padding: 0;
}

body, html {
  overflow: hidden;
}

body {
  background-color: rgb(234, 209, 159);
  color: antiquewhite;
  font-family: Josefin Sans;
  font-size: 16px;
}

ol, ul {
  list-style: none;
}

p {
  color: #5f552c;
  padding: 10px;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: Great Vibes;
  color: rgb(51, 21, 69);
}

h1 {
  font-size: 3.75em;
  padding: 40px;
  border-bottom: solid 1px antiquewhite;
}

h2 {
  font-size: 3.25em;
  padding: 30px;
}

h3 {
  font-size: 2.75em;
  padding: 20px;
}

header {
  height: 3em;
  flex-direction: row;
  align-items: center;
  background-color: rgb(51, 21, 69);
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  -webkit-box-shadow: 1px 1px 10px 1px #000;
  -moz-box-shadow: 1px 1px 10px 1px #000;
  box-shadow: 1px 1px 10px 1px #000;
  border-bottom: solid 1px rgb(78, 49, 95);
  font-family: Amatic SC;
  transition: all .25s;
}

header nav {
  height: 100%
}

header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%
}

header a {
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  font-family: Josefin Sans;
  text-transform: uppercase;
  font-size: .75em;
}

header a, a:link, a:visited {
  color: #DEBE83;
  color: #5f552c;
}

a:hover {
  color: antiquewhite;
}

span.amp {
  font-family: Baskerville;
  font-style: italic;
  background-color: #7b76ab;
  padding: 0px 10px 0px 6px;
  border-radius: 100%;
  border: solid 4px antiquewhite;
  color: antiquewhite;
  vertical-align: super;
  font-size: 3em;
}

header span.amp {
  padding: 0px 6px 0px 4px;
  border-width: 2px;
  display: inline;
  vertical-align: inherit;
  font-size: inherit;
}

.logo {
  font-size: 2em;
  font-family: Great Vibes;
  color: #DEBE83;
}

.logo:hover {
  color: antiquewhite;
}

.groom, .bride {
  font-size: 5em;
  margin: 10px;
}

.groom {
  font-family: Amatic SC;
}

.bride {
  font-family: Great Vibes;
}

.date {
  font-size: 2em;
  font-family: Great Vibes;
  color: rgb(51, 21, 69);
}

.location {
  font-size: 2em;
  font-family: Amatic SC;
  color: #DEBE83;
}

#wedding-callout {
  position: absolute;
  text-align: center;
  bottom: 30%;
  background-color: rgba(255, 255, 255, .5);
  width: 100%;
}

.parallax {
  -webkit-perspective: 1px;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective-origin-x: 100%;
  perspective-origin-x: 100%;
  scroll-behavior: smooth;
}

.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform-origin-x: 100%;
  transform-origin-x: 100%;
}

.parallax_layer-base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}

.parallax_layer-back {
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
  z-index: 3;
}

.parallax_group {
  position: relative;
  height: 100vh;
  min-height: 800px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, .5);
}

section::after, section::before {
  left: 0;
  right: 0;
  content: "";
  position: absolute;
  border-bottom: solid 4px rgb(90, 53, 29);
}

.vertical_stripes-gold {
  background-color: #d5b080;
  background: repeating-linear-gradient(
    to left,
    #d5b080,
    #dba967 12px,
    #e3b87f 11px,
    #eab978 20px
  );
  z-index: 6;
}

#first {
  background: url(bridge-pic-320w.jpg) no-repeat 50% 0%;
  background-size: cover;
}

#group3 {
  background: url(mountain-320w.jpg) no-repeat 52% 0%;
  background-size: cover;
}

#party-kids {
  background: url(party-kids-320w.jpg) no-repeat 60% 0%;
  background-size: cover;
}

#the-cutest-couple {
  background: url(cute-couple-320w.jpg) no-repeat 50% 0%;
  background-size: cover;
}

#willy-b {
  background: url(flying-kids-320w.jpg) no-repeat 70% 0%;
  background-size: cover;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.75em;
  font-family: Great Vibes;
}

.title--top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 3.75em;
}

#rsvp {
  max-width: 700px;
  width: 100%;
  padding: 10px 40px;
  color: #5f552c;
  font-family: Josefin Sans;
  visibility: hidden;
  text-align: left;
}

#rsvp input[type="text"],
#rsvp input[type="email"] {
  background: transparent;
  border: none;
  border-bottom: solid 1px #5f552c;
  padding: 10px;
  margin: 5px;
  font-family: Josefin Sans;
  font-size: inherit;
  max-width: 250px;
  width: 12em;
}

#rsvp input[type="text"]::placeholder-shown,
#rsvp input[type="email"]::placeholder-shown {
  font-size: .75em;
}

#rsvp input[type="text"]::-moz-placeholder,
#rsvp input[type="email"]::-moz-placeholder
{
  font-size: .75em;
}

#rsvp h2 {
  font-family: Josefin Sans;
}

#rsvp div {
  padding: 10px 5px;
}

#rsvp input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

#rsvp input[type="checkbox"] + label {
  cursor: pointer;
  text-align: left;
  display: block;
  margin: 5px auto;
  font-size: inherit;
  max-width: 500px;
  width: 90%;
}

#rsvp input[type="checkbox"] + label::before {
  content: "";
  display: block;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  border: 3px solid #5f552c;
  border-radius: 10px;
  max-width: 21px;
  max-height: 21px;
  width: 1em;
  height: 1em;
  color: black;
  font-family: Josefin Sans;
  transition: background-color .2s;
  float: left;
  margin-right: 5px;
  color: inherit;
}

#rsvp input[type="checkbox"] + label:first-of-type {
  padding: 10px 0;
}

#rsvp input[type="checkbox"]:checked + label::before {
  content: "\2714";
  text-align: center;
}

#rsvp input[type="checkbox"]:focus + label::before {
  box-shadow: 2px 2px 10px 2px #68a7e4;
  border-color: #68a7e4
}

#rsvp input[type="button"] {
  display: block;
  margin: 75px auto 0;
  background-color: #5f552c;
  border-radius: 10px;
  font-size: .95em;
  font-family: inherit;
  color: antiquewhite;
  border: solid 1px;
  border-bottom: 4px solid antiquewhite;
  padding: 8px 15px;
  cursor: pointer;
  transition: all .1s;
}

#rsvp input[type="button"]:hover {
  color: #5f552c;
  background-color: antiquewhite;
  border-bottom: solid 2px #5f552c;
}

#rsvp input[type="button"]:active {
  color: white;
  background-color: #5f552c;
  border-bottom: solid 2px #3f350c;
}

#rsvp input[type="button"]:disabled {
  color: darkgray;
  background-color: gray;
}

#rsvp select {
  background: #5f552c;
  max-width: 225px;
  width: 12em;
  padding: 2px 5px;
  font-size: .95em;
  line-height: 1;
  height: 1.5em;
  color: antiquewhite;
  cursor: pointer;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#rsvp h2 div:last-of-type {
  border-bottom: solid 2px antiquewhite;
  padding-bottom: 20px;
}

#rsvp h2 div:first-of-type {
  border-top: solid 2px antiquewhite;
  padding-top: 20px;
}

#rsvp-additional-guests-family ul li {
  display: inline;
  margin: 0 auto;
  text-align: center;
}

#rsvp-additional-guests-family ul {
  text-align: center;
}

#rsvp-additional-guests-family,
#rsvp-additional-guests-date,
#rsvp #rsvp-events,
#rsvp #rsvp-song-request
 {
  padding-left: 0;
  padding-right: 0;
}

#rsvp-submission-message span{
  background: #335133;
  border: solid 4px #218C29;
  color: antiquewhite;
  border-radius: 20px;
  padding: 20px;
  font-size: .85em;
  display: block;
}

#rsvp-submission-message ul {
  list-style: inside;
  background: #692121;
  border: solid 4px #A51010;
  color: antiquewhite;
  border-radius: 20px;
  padding: 20px;
  font-size: .75em;
}

#rsvp textarea {
  min-height: 2.5em;
  max-height: 3.5em;
  width: 100%;
  background-color: transparent;
  border: solid 2px #5f552c;
  border-radius: 10px;
  display: none;
  font-family: inherit;
  color: inherit;
  margin: 0 auto;
}

#rsvp #rsvp-notes-checkbox + label {
  margin-left: 0;
}

#rsvp #rsvp-notes-checkbox:hover + label {
  color: antiquewhite;
}

#rsvp #rsvp-notes-checkbox + label::before {
  content: "Something on your mind? Leave the couple a note!";
  border: none;
  width: 100%;
  max-width: 100%;
  text-decoration: underline;
  margin-bottom: 10px;
}

#rsvp #rsvp-notes-checkbox:checked + label::before {
  content: "Never mind, cancel the note.";
  margin-left: -50px;
}

#rsvp-notes-checkbox:checked ~ textarea {
  display: inherit;
}

.hidden--linear {
  opacity: 0;
  height: 0;
  transition: opacity .2s linear, height .35s linear;
}

.show--ease-in {
  opacity: 1;
  height: 100%;
  transition: all .4s ease-in;
}

.rsvp-detail {
  font-size: .5em;
  font-style: italic;
}

#map {
  height: 150vh;
}

#map p {
  margin: 20px auto 20px auto;
}

.google-maps iframe {
  width: 100%;
  min-height: 4em;
  height: 25em;
  display: none;
}

.google-maps div {
  text-align: center;
}

footer.parallax_group {
  min-height: 3em;
  max-height: 100px;
  background: #6B529B;
  border-top: solid 5px #180836
}

footer span.small {
  font-size: .9em;
  font-family: Josefin Sans;
}

footer img {
  height: .75em;
  width: .8em;
}

.timeline, .wedding_party {
  display: flex;
  width: 90%;
  margin: 10px auto;
}

.timeline {
  flex-direction: column;
}

.wedding_party {
  flex-direction: row;
}

.timeline_item, .party_member {
  height: 12vh;
  width: 12vh;
  background: antiquewhite;
  margin: 10px;
  padding: 10px;
  border: solid 4px antiquewhite;
  border-radius: 100%;
}

.timeline_item:after {
  background: black;
  content: "dsfsdf";
  text-align: center;
  display: block;
}

.timeline_item:nth-child(2n) {
  align-self: flex-end;
}

.timeline_item:nth-child(2n+1) {
  align-self: flex-start;
}

.card {
  background-color: #ecd9b9;
  border: solid 15px antiquewhite;
  max-width: 700px;
  width: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 0px 25px #666;
  padding: 40px;
}

.card h1 {
  padding: 10px;
}

.card div {
  color: #5f552c;
}

 #amazon-registry-img,
 #bbandb-registry-img {
  margin: 0 auto;
  width: 100%;
}

#amazon-registry-img {
  max-width: 267px;
}

#bbandb-registry-img {
  max-width: 173px;
}

#registry a {
  display: block;
  text-align: center;
  margin: 50px;
}

#last {
  max-height: 800px;
  height: 100vh;
}

#last .title {
  font-family: Great Vibes;
}

.centered-items {
  text-align: center;
}

@media all and (min-height: 600px) {
  #wedding-callout {
    bottom: 20%;
  }

  header.small {
    height: 2.5em;
    font-size: .95em;
    transition: all .25s;
  }

  header.small span.amp,
  header.small .logo {
    padding: 0px 4px 0px 3px;
    border-width: 2px;
    transition: all .25s;
  }
}

@media all and (min-height: 700px) {
  header a {
    max-height: 3em;
  }

  #wedding-callout {
    bottom: 10%;
  }

  #first {
    background: url(bridge-pic-700h.jpg) no-repeat 50% 0%;
    background-size: cover;
  }

  #party-kids {
    background: url(party-kids-700h.jpg) no-repeat 60% 0%;
    background-size: cover;
  }

  #group3 {
    background: url(mountain-700h.jpg) no-repeat 52% 0%;
    background-size: cover;
  }

  #willy-b {
    background: url(flying-kids-700h.jpg) no-repeat 70% 0%;
    background-size: cover;
  }

  #the-cutest-couple {
    background: url(cute-couple-700h.jpg) no-repeat 50% 0%;
    background-size: cover;
  }
}

@media all and (min-width: 800px) {
  body {
    font-size: 22px;
  }

  header {
    font-size: 1.25em;
  }

  header a {
    padding: 0 1em;
  }

  #first {
    background: url(bridge-pic-800w.jpg) no-repeat 50% 0%;
    background-size: cover;
  }

  #party-kids {
    background: url(party-kids-800w.jpg) no-repeat 60% 0%;
    background-size: cover;
  }

  #group3 {
    background: url(mountain-800w.jpg) no-repeat 52% 0%;
    background-size: cover;
  }

  #willy-b {
    background: url(willy-b-800w.jpg) no-repeat 60% 0%;
    background-size: cover;
  }

  #the-cutest-couple {
    background: url(cute-couple-800w.jpg) no-repeat 50% 0%;
    background-size: cover;
  }
}

@media all and (min-width: 1000px) {
  body {
    font-size: 24px;
  }

  header ul {
    justify-content: center;
  }

  header ul li {
    margin: 10px;
  }

  header a {
    padding: 0 2em;
  }

  #wedding-callout {
    transform: translate(0%,-50%);
    background: transparent;
    width: 50%;
  }

  #first {
    background: url(bridge-pic-1000w.jpg) no-repeat 100% 0%;
    background-size: cover;
  }

  #party-kids {
    background: url(party-kids-1000w.jpg) no-repeat 60% 0%;
    background-size: cover;
  }

  #group3 {
    background: url(mountain-1000w.jpg) no-repeat 52% 0%;
    background-size: cover;
  }

  #willy-b {
    background: url(willy-b-1000w.jpg) no-repeat 60% 0%;
    background-size: cover;
  }

  #the-cutest-couple {
    background: url(cute-couple-1000w.jpg) no-repeat 50% 0%;
    background-size: cover;
  }

  .google-maps iframe {
    display: block;
  }

  .google-maps a {
    display: none;
  }
}

@media all and (min-width: 1500px) {
  body {
    font-size: 26px;
  }

  header a {
    max-width: 500px;
  }

  #first {
    background: url(bridge-pic-1500w.jpg) no-repeat 50% 0%;
    background-size: cover;
  }

  #party-kids {
    background: url(party-kids-1500w.jpg) no-repeat 60% 0%;
    background-size: cover;
  }

  #group3 {
    background: url(mountain-1500w.jpg) no-repeat 52% 0%;
    background-size: cover;
  }

  #willy-b {
    background: url(willy-b-1500w.jpg) no-repeat 60% 0%;
    background-size: cover;
  }

  #the-cutest-couple {
    background: url(cute-couple.jpg) no-repeat 50% 0%;
    background-size: cover;
  }
}
